{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block blog_content %}

<!-- message's section - START -->
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <strong>{{ message }}</strong>
  {% endfor %}
  {% endif %}
</div>
<!-- message's section - END -->

<!--Login-->
<div class="container py-5">
  <div class="card-stacked">
    <div class="card-content">
      <h1>Login</h1>
      <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <br>
      <p>Don't have an account? <a href="{% url 'user:register' %}">Create an account</a>.</p>
    </div>
  </div>
</div>

{% endblock blog_content %}