{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block blog_content %}
<div class="container"><!-- main container -->
    <h3 style="margin: 5px;">Profile</h3>

    <!-- Card 1 -->
    {% block _profile_card_1 %}
    {% include "user/partials/_profile_card_1.html" %}
    {% endblock _profile_card_1 %}

        <!-- Card 2 -->
    {% block _profile_card_2 %}
    {% include "user/partials/_profile_card_2.html" %}
    {% endblock _profile_card_2 %}

</div><!-- main container -->
{% endblock blog_content %}