{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block blog_content %}

<!-- message's section - START -->
<div class="container">
	{% if messages %}
	{% for message in messages %}
	<strong>{{ message }}</strong>
	{% endfor %}
	{% endif %}
</div>
<!-- message's section - END -->

<!--Register-->
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'user:login' %}">login</a> instead.</p>
</div>

{% endblock blog_content %}