aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==20.1.0
base58==2.0.1
bitarray==1.2.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
colorclass==2.2.2
cytoolz==0.10.1
Django==3.2.9
django-crispy-forms==1.9.2
django-redis==5.0.0
djongo==1.3.6
docopt==0.6.2
eth-abi==2.1.1
eth-account==0.5.2
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.9.4
gunicorn==20.1.0
hexbytes==0.2.1
idna==3.3
importlib-metadata==1.7.0
ipfshttpclient==0.6.0.post1
jsonschema==3.2.0
lru-dict==1.1.6
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
numpy==1.21.4
packaging==21.3
parsimonious==0.8.1
pip-upgrader==1.4.15
protobuf==3.13.0
pycryptodome==3.9.8
pymongo==3.12.1
pyparsing==3.0.6
pyrsistent==0.16.0
pytz==2021.3
redis==3.5.3
requests==2.26.0
rlp==1.2.0
six==1.15.0
sqlparse==0.2.4
terminaltables==3.1.10
toolz==0.10.0
typing-extensions==3.7.4.3
urllib3==1.26.7
varint==1.0.2
web3==5.12.0
websockets==8.1
yarl==1.7.0
zipp==3.1.0
