{% extends "base.html" %}

{% block blog_content %}

<div class="container">
    <h3>New Post</h3>
    <div class="card horizontal"><!-- card horizontal -->
        <div style="margin: 10px;"><!-- style div for card-->
            <div class="card-stacked"><!-- card-stacked -->
                <form method="POST" class="card-content" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="card-content">
                        <!-- "Save", "Previous Page", "Back Home" buttons -->
                        <button type="submit" class="save btn btn-outline-success btn-sm">Save</button>
                        <input type=button class="btn btn-outline-secondary btn-sm" value="Previous Page" onClick="javascript:history.go(-1);">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'api:home' %}">Back Home</a>
                    </div>
                </form>
            </div><!-- card-stacked -->
        </div><!-- style div for card-->
    </div><!-- card horizontal -->
</div>
{% endblock blog_content %}