{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block blog_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
            </fieldset>
            <div class="alert alert-alert">
                <h6>You wrote about something that's strictly forbidden...not be rude!</h6>
                <input type=button class="btn btn-outline-secondary btn-sm" value="Previous Page" onClick="javascript:history.go(-1);">
            </div>
        </form>

    </div>



{% endblock blog_content %}