{% extends "base.html" %}

{% block blog_content %}

<div class="container">
    <h3>New Post</h3>
    <div class="form-group"><!-- Post form -->
        <form method="POST" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2">
                <button type="submit" class="save btn btn-outline-success btn-sm">Save</button>
                <input type=button class="btn btn-outline-secondary btn-sm" value="Previous Page" onClick="javascript:history.go(-1);">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'api:home' %}">Back Home</a>
            </div>
        </form>
    </div><!-- Post form -->
</div>
{% endblock blog_content %}