<div class="card horizontal" role="main"><!-- card 1: information -->
    <div style="margin: 10px;">
        <h5>info</h5>
        <div class="card-stacked border-top">
            <div class="card-content"><br><!-- card 1.3: email, number of post -->
                <p>Username: <strong>{{ user.username }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>
                <p>Last login: <strong>{{ user.last_login }}</strong></p>
                <p>Number of post published: <strong>{{ number_of_posts }}</strong></p>
            </div><!-- card 1.3: email, number of post -->
        </div>
    </div>
</div><!-- card 1: information -->
