<head>
    <!-- head meta informations -->
    {% block _head_meta_informations %}
    {% include "partials/_head_meta_informations.html" %}
    {% endblock _head_meta_informations %}

    <!-- title base -->
    {% block _title_base %}
    {% include "partials/_title_base.html" %}
    {% endblock _title_base %}

    <!-- bootstrap example template -->
    {% block _bootstrap_example %}
    {% include "partials/_bootstrap_example.html" %}
    {% endblock _bootstrap_example %}

    <!-- Bootstrap core CSS and load static -->
    {% block _bootstrap_core_CSS %}
    {% include "partials/_bootstrap_core_CSS.html" %}
    {% endblock _bootstrap_core_CSS %}

    <!-- style -->
    {% block _style %}
    {% include "partials/_style.html" %}
    {% endblock _style %}
</head>