<div class="col-md-8">
    <h4 class="pb-4 mb-4 fst-italic border-bottom">Django Blog - articles</h4>

    <!-- SINGLE POST VIEW - START -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user:profile' user.id %}">{{ post.user }}</a>
                <small class="text-muted">{{ post.datetime|date:"F d, Y" }}</small>
                <h5><a class="article-title text-dark">{{ post.title }}</a></h5>
                <p>{{ post.content|truncatewords_html:30 }} </p>
                <p class="article-footer"><a href="{{post.get_absolute_url}}">Read more...</a></p>
            </div>
        </div>
    </article>
    {% endfor %}
    <!-- SINGLE POST VIEW - END -->


    <div class="container" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

