<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <!-- _widget_about -->
        {% block _widget_about %}
            {% include "partials/_widget_about.html" %}
        {% endblock _widget_about %}

        <!-- _widget_archives -->
        {% block _widget_archives %}
            {% include "partials/_widget_archives.html" %}
        {% endblock _widget_archives %}

        <!-- _widget_social -->
        {% block _widget_social %}
            {% include "partials/_widget_social.html" %}
        {% endblock _widget_social %}
    </div>
</div>


