<br><div class="card horizontal">

    <!-- section for normal users - START -->
    <div style="margin: 10px;"><!-- style div -->
        <h5>Actions</h5>
        <div class="card-stacked border-top"><!-- card stacker -->
            <div class="card-content"><br><!-- card content -->
                <a class="btn btn-sm btn-outline-primary" href="http://127.0.0.1:8000/posts/statistics/">Refresh</a>
                <a class="btn btn-sm btn-outline-success" href="{% url 'api:post-create' %}">New post</a>
                <br><br><a class="btn btn-sm btn-outline-secondary" href="{% url 'api:home' %}">Back Home</a>
            </div><!-- card content -->
        </div><!-- card stacker -->
    </div><!-- style div -->
    <!-- section for normal users - END -->

    <!-- section for superusers - START -->
    {% if user.is_superuser %}
    <div class="row"><!-- row -->

        <!-- first section -->
        <div class="col"><!-- first column -->
            <div style="margin: 10px;"><!-- style div -->
                <h5>Actions</h5>
                <div class="card-stacked border-top"><!-- card stacker -->
                    <div class="card-content"><br><!-- card content -->
                        <a class="btn btn-sm btn-outline-primary" href="http://127.0.0.1:8000/posts/statistics/">Refresh</a>
                        <a class="btn btn-sm btn-outline-success" href="{% url 'api:post-create' %}">New post</a>
                        <br><br><a class="btn btn-sm btn-outline-secondary" href="{% url 'api:home' %}">Back Home</a>
                    </div><!-- card content -->
                </div><!-- card stacker -->
            </div><!-- style div -->
        </div><!-- first column -->

        <!-- second section -->
        <div class="col"><!-- second column -->
            <div style="margin: 10px;"><!-- style div -->
                <h5>Admin</h5>
                <div class="card-stacked border-top">
                    <div class="card-content">
                        {% if user.is_superuser %}
                        <br><a class="btn btn-sm btn-outline-primary" href="http://127.0.0.1:8000/admin/">Django admin's site</a><br>
                        <br><a class="btn btn-sm btn-outline-secondary" href="{% url 'JSon' %}" target="_blank"> JSon</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'H1' %}" target="_blank">JSon Last Hour</a>
                        {% endif %}
                    </div><!-- card content -->
                </div><!-- card stacker -->
            </div><!-- style div -->
        </div><!-- second column -->

    </div><!-- row -->
    {% endif %}
    <!-- section for superusers - END -->
</div>